<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Speech.Engine" version="2.0.0.4" targetFramework="net461" />
  <package id="SpeechLib.Models" version="1.6.0" targetFramework="net461" developmentDependency="true" />
  <package id="SpeechLib.Recognition" version="1.6.0" targetFramework="net461" developmentDependency="true" />
  <package id="Syn.Speech" version="1.0.3" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
</packages>